/*
 * Marketing API v.1.0
 * IMPORTANT: This swagger links to Criteo production environment. Any test applied here will thus impact real campaigns.
 *
 * The version of the OpenAPI document: v.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.criteo.marketing.api;

import com.criteo.marketing.ApiCallback;
import com.criteo.marketing.ApiClient;
import com.criteo.marketing.ApiException;
import com.criteo.marketing.ApiResponse;
import com.criteo.marketing.Configuration;
import com.criteo.marketing.Pair;
import com.criteo.marketing.ProgressRequestBody;
import com.criteo.marketing.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.criteo.marketing.model.CampaignBidChangeRequest;
import com.criteo.marketing.model.CampaignBidMessage;
import com.criteo.marketing.model.CampaignMessage;
import com.criteo.marketing.model.CategoryMessage;
import com.criteo.marketing.model.MessageWithDetailsCampaignBidChangeResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CampaignsApi {
    private ApiClient localVarApiClient;

    public CampaignsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CampaignsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getBids
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. The ids of the campaigns we want to get the bids on. If not specified, advertiserIds will be used. (optional)
     * @param advertiserIds Optional. The ids of the advertisers&#39; campaigns we want to get the bids on. If campaignIds not specified, and neither is advertiserIds, all the advertisers in the user&#39;s portfolio are used. (optional)
     * @param categoryHashCodes Optional. Filters only specified categories. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by bid type. By default no filtering is applied. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param pendingChanges Optional. Filters only pending changes or settled ones. By default no filtering is applied. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Bids returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBidsCall(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, String bidType, String campaignStatus, Boolean pendingChanges, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/campaigns/bids";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (campaignIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("campaignIds", campaignIds));
        }

        if (advertiserIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("advertiserIds", advertiserIds));
        }

        if (categoryHashCodes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("categoryHashCodes", categoryHashCodes));
        }

        if (bidType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bidType", bidType));
        }

        if (campaignStatus != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("campaignStatus", campaignStatus));
        }

        if (pendingChanges != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pendingChanges", pendingChanges));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getBidsValidateBeforeCall(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, String bidType, String campaignStatus, Boolean pendingChanges, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getBids(Async)");
        }
        

        okhttp3.Call localVarCall = getBidsCall(authorization, campaignIds, advertiserIds, categoryHashCodes, bidType, campaignStatus, pendingChanges, _callback);
        return localVarCall;

    }

    /**
     * Gets a the bids for campaigns and their categories
     * Get the campaigns&#39; bids, as well as the bids of their categories
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. The ids of the campaigns we want to get the bids on. If not specified, advertiserIds will be used. (optional)
     * @param advertiserIds Optional. The ids of the advertisers&#39; campaigns we want to get the bids on. If campaignIds not specified, and neither is advertiserIds, all the advertisers in the user&#39;s portfolio are used. (optional)
     * @param categoryHashCodes Optional. Filters only specified categories. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by bid type. By default no filtering is applied. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param pendingChanges Optional. Filters only pending changes or settled ones. By default no filtering is applied. (optional)
     * @return List&lt;CampaignBidMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Bids returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public List<CampaignBidMessage> getBids(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, String bidType, String campaignStatus, Boolean pendingChanges) throws ApiException {
        ApiResponse<List<CampaignBidMessage>> localVarResp = getBidsWithHttpInfo(authorization, campaignIds, advertiserIds, categoryHashCodes, bidType, campaignStatus, pendingChanges);
        return localVarResp.getData();
    }

    /**
     * Gets a the bids for campaigns and their categories
     * Get the campaigns&#39; bids, as well as the bids of their categories
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. The ids of the campaigns we want to get the bids on. If not specified, advertiserIds will be used. (optional)
     * @param advertiserIds Optional. The ids of the advertisers&#39; campaigns we want to get the bids on. If campaignIds not specified, and neither is advertiserIds, all the advertisers in the user&#39;s portfolio are used. (optional)
     * @param categoryHashCodes Optional. Filters only specified categories. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by bid type. By default no filtering is applied. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param pendingChanges Optional. Filters only pending changes or settled ones. By default no filtering is applied. (optional)
     * @return ApiResponse&lt;List&lt;CampaignBidMessage&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Bids returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<CampaignBidMessage>> getBidsWithHttpInfo(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, String bidType, String campaignStatus, Boolean pendingChanges) throws ApiException {
        okhttp3.Call localVarCall = getBidsValidateBeforeCall(authorization, campaignIds, advertiserIds, categoryHashCodes, bidType, campaignStatus, pendingChanges, null);
        Type localVarReturnType = new TypeToken<List<CampaignBidMessage>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets a the bids for campaigns and their categories (asynchronously)
     * Get the campaigns&#39; bids, as well as the bids of their categories
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. The ids of the campaigns we want to get the bids on. If not specified, advertiserIds will be used. (optional)
     * @param advertiserIds Optional. The ids of the advertisers&#39; campaigns we want to get the bids on. If campaignIds not specified, and neither is advertiserIds, all the advertisers in the user&#39;s portfolio are used. (optional)
     * @param categoryHashCodes Optional. Filters only specified categories. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by bid type. By default no filtering is applied. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param pendingChanges Optional. Filters only pending changes or settled ones. By default no filtering is applied. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Bids returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getBidsAsync(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, String bidType, String campaignStatus, Boolean pendingChanges, final ApiCallback<List<CampaignBidMessage>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getBidsValidateBeforeCall(authorization, campaignIds, advertiserIds, categoryHashCodes, bidType, campaignStatus, pendingChanges, _callback);
        Type localVarReturnType = new TypeToken<List<CampaignBidMessage>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCampaign
     * @param campaignId Mandatory. The id of the campaign to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCampaignCall(Integer campaignId, String authorization, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/campaigns/{campaignId}"
            .replaceAll("\\{" + "campaignId" + "\\}", localVarApiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCampaignValidateBeforeCall(Integer campaignId, String authorization, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getCampaign(Async)");
        }
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCampaign(Async)");
        }
        

        okhttp3.Call localVarCall = getCampaignCall(campaignId, authorization, _callback);
        return localVarCall;

    }

    /**
     * Gets a specific campaign
     * Get a specific campaign
     * @param campaignId Mandatory. The id of the campaign to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @return CampaignMessage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public CampaignMessage getCampaign(Integer campaignId, String authorization) throws ApiException {
        ApiResponse<CampaignMessage> localVarResp = getCampaignWithHttpInfo(campaignId, authorization);
        return localVarResp.getData();
    }

    /**
     * Gets a specific campaign
     * Get a specific campaign
     * @param campaignId Mandatory. The id of the campaign to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @return ApiResponse&lt;CampaignMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CampaignMessage> getCampaignWithHttpInfo(Integer campaignId, String authorization) throws ApiException {
        okhttp3.Call localVarCall = getCampaignValidateBeforeCall(campaignId, authorization, null);
        Type localVarReturnType = new TypeToken<CampaignMessage>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets a specific campaign (asynchronously)
     * Get a specific campaign
     * @param campaignId Mandatory. The id of the campaign to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCampaignAsync(Integer campaignId, String authorization, final ApiCallback<CampaignMessage> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCampaignValidateBeforeCall(campaignId, authorization, _callback);
        Type localVarReturnType = new TypeToken<CampaignMessage>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCampaigns
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by campaign bid type. By default, no filtering is applied. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaigns returned OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCampaignsCall(String authorization, String campaignIds, String advertiserIds, String campaignStatus, String bidType, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/campaigns";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (campaignIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("campaignIds", campaignIds));
        }

        if (advertiserIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("advertiserIds", advertiserIds));
        }

        if (campaignStatus != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("campaignStatus", campaignStatus));
        }

        if (bidType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("bidType", bidType));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCampaignsValidateBeforeCall(String authorization, String campaignIds, String advertiserIds, String campaignStatus, String bidType, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCampaigns(Async)");
        }
        

        okhttp3.Call localVarCall = getCampaignsCall(authorization, campaignIds, advertiserIds, campaignStatus, bidType, _callback);
        return localVarCall;

    }

    /**
     * Gets campaigns
     * Get the list of campaigns with the specified filters.  If a campaign is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by campaign bid type. By default, no filtering is applied. (optional)
     * @return List&lt;CampaignMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaigns returned OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public List<CampaignMessage> getCampaigns(String authorization, String campaignIds, String advertiserIds, String campaignStatus, String bidType) throws ApiException {
        ApiResponse<List<CampaignMessage>> localVarResp = getCampaignsWithHttpInfo(authorization, campaignIds, advertiserIds, campaignStatus, bidType);
        return localVarResp.getData();
    }

    /**
     * Gets campaigns
     * Get the list of campaigns with the specified filters.  If a campaign is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by campaign bid type. By default, no filtering is applied. (optional)
     * @return ApiResponse&lt;List&lt;CampaignMessage&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaigns returned OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<CampaignMessage>> getCampaignsWithHttpInfo(String authorization, String campaignIds, String advertiserIds, String campaignStatus, String bidType) throws ApiException {
        okhttp3.Call localVarCall = getCampaignsValidateBeforeCall(authorization, campaignIds, advertiserIds, campaignStatus, bidType, null);
        Type localVarReturnType = new TypeToken<List<CampaignMessage>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets campaigns (asynchronously)
     * Get the list of campaigns with the specified filters.  If a campaign is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param campaignStatus Optional. Filters by campaign status. By default no filtering is applied. (optional)
     * @param bidType Optional. Filters by campaign bid type. By default, no filtering is applied. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaigns returned OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> There is not even one valid advertiserId or campaignId requested. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCampaignsAsync(String authorization, String campaignIds, String advertiserIds, String campaignStatus, String bidType, final ApiCallback<List<CampaignMessage>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCampaignsValidateBeforeCall(authorization, campaignIds, advertiserIds, campaignStatus, bidType, _callback);
        Type localVarReturnType = new TypeToken<List<CampaignMessage>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCategories
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param authorization JWT Bearer Token (required)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Categories returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCategoriesCall(Integer campaignId, String authorization, Boolean enabledOnly, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/campaigns/{campaignId}/categories"
            .replaceAll("\\{" + "campaignId" + "\\}", localVarApiClient.escapeString(campaignId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (enabledOnly != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("enabledOnly", enabledOnly));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCategoriesValidateBeforeCall(Integer campaignId, String authorization, Boolean enabledOnly, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getCategories(Async)");
        }
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCategories(Async)");
        }
        

        okhttp3.Call localVarCall = getCategoriesCall(campaignId, authorization, enabledOnly, _callback);
        return localVarCall;

    }

    /**
     * Gets categories
     * Get the list of categories linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param authorization JWT Bearer Token (required)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @return CategoryMessage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Categories returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public CategoryMessage getCategories(Integer campaignId, String authorization, Boolean enabledOnly) throws ApiException {
        ApiResponse<CategoryMessage> localVarResp = getCategoriesWithHttpInfo(campaignId, authorization, enabledOnly);
        return localVarResp.getData();
    }

    /**
     * Gets categories
     * Get the list of categories linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param authorization JWT Bearer Token (required)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @return ApiResponse&lt;CategoryMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Categories returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CategoryMessage> getCategoriesWithHttpInfo(Integer campaignId, String authorization, Boolean enabledOnly) throws ApiException {
        okhttp3.Call localVarCall = getCategoriesValidateBeforeCall(campaignId, authorization, enabledOnly, null);
        Type localVarReturnType = new TypeToken<CategoryMessage>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets categories (asynchronously)
     * Get the list of categories linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param authorization JWT Bearer Token (required)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Categories returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested campaign was not found. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCategoriesAsync(Integer campaignId, String authorization, Boolean enabledOnly, final ApiCallback<CategoryMessage> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCategoriesValidateBeforeCall(campaignId, authorization, enabledOnly, _callback);
        Type localVarReturnType = new TypeToken<CategoryMessage>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCategory
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param categoryHashCode Mandatory. The id of the category to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Category returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested category was not found for the campaign. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCategoryCall(Integer campaignId, Integer categoryHashCode, String authorization, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/campaigns/{campaignId}/categories/{categoryHashCode}"
            .replaceAll("\\{" + "campaignId" + "\\}", localVarApiClient.escapeString(campaignId.toString()))
            .replaceAll("\\{" + "categoryHashCode" + "\\}", localVarApiClient.escapeString(categoryHashCode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCategoryValidateBeforeCall(Integer campaignId, Integer categoryHashCode, String authorization, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'campaignId' is set
        if (campaignId == null) {
            throw new ApiException("Missing the required parameter 'campaignId' when calling getCategory(Async)");
        }
        
        // verify the required parameter 'categoryHashCode' is set
        if (categoryHashCode == null) {
            throw new ApiException("Missing the required parameter 'categoryHashCode' when calling getCategory(Async)");
        }
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCategory(Async)");
        }
        

        okhttp3.Call localVarCall = getCategoryCall(campaignId, categoryHashCode, authorization, _callback);
        return localVarCall;

    }

    /**
     * Gets a specific category
     * Get a specific category linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param categoryHashCode Mandatory. The id of the category to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @return CategoryMessage
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Category returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested category was not found for the campaign. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public CategoryMessage getCategory(Integer campaignId, Integer categoryHashCode, String authorization) throws ApiException {
        ApiResponse<CategoryMessage> localVarResp = getCategoryWithHttpInfo(campaignId, categoryHashCode, authorization);
        return localVarResp.getData();
    }

    /**
     * Gets a specific category
     * Get a specific category linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param categoryHashCode Mandatory. The id of the category to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @return ApiResponse&lt;CategoryMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Category returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested category was not found for the campaign. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CategoryMessage> getCategoryWithHttpInfo(Integer campaignId, Integer categoryHashCode, String authorization) throws ApiException {
        okhttp3.Call localVarCall = getCategoryValidateBeforeCall(campaignId, categoryHashCode, authorization, null);
        Type localVarReturnType = new TypeToken<CategoryMessage>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets a specific category (asynchronously)
     * Get a specific category linked to the requested campaign.
     * @param campaignId Mandatory. The id of the campaign the categories are linked to. (required)
     * @param categoryHashCode Mandatory. The id of the category to return. (required)
     * @param authorization JWT Bearer Token (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Category returned OK. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> One of the requested campaigns doesn&#39;t belong to the API user&#39;s portfolio which prevents from accessing its data. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> The requested category was not found for the campaign. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCategoryAsync(Integer campaignId, Integer categoryHashCode, String authorization, final ApiCallback<CategoryMessage> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCategoryValidateBeforeCall(campaignId, categoryHashCode, authorization, _callback);
        Type localVarReturnType = new TypeToken<CategoryMessage>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateBids
     * @param authorization JWT Bearer Token (required)
     * @param bidChanges Specifies the list of bid changes to be applied. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign bids updated OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid input. Please check returned message for details. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateBidsCall(String authorization, List<CampaignBidChangeRequest> bidChanges, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = bidChanges;

        // create path and map variables
        String localVarPath = "/v1/campaigns/bids";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", localVarApiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "text/html"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "Authorization" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateBidsValidateBeforeCall(String authorization, List<CampaignBidChangeRequest> bidChanges, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling updateBids(Async)");
        }
        
        // verify the required parameter 'bidChanges' is set
        if (bidChanges == null) {
            throw new ApiException("Missing the required parameter 'bidChanges' when calling updateBids(Async)");
        }
        

        okhttp3.Call localVarCall = updateBidsCall(authorization, bidChanges, _callback);
        return localVarCall;

    }

    /**
     * Update bids for campaigns and their categories
     * If a campaign bid is updated, all (if any) category bids for this campaign will be updated with the new value if they are initially equal to the campaign bid.  If the category bid is not wanted to be cascaded to the categories with the same bid value, new change bids must be added in the request for the categories where the value should be kept (with the initial value).
     * @param authorization JWT Bearer Token (required)
     * @param bidChanges Specifies the list of bid changes to be applied. (required)
     * @return List&lt;CampaignMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign bids updated OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid input. Please check returned message for details. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public List<CampaignMessage> updateBids(String authorization, List<CampaignBidChangeRequest> bidChanges) throws ApiException {
        ApiResponse<List<CampaignMessage>> localVarResp = updateBidsWithHttpInfo(authorization, bidChanges);
        return localVarResp.getData();
    }

    /**
     * Update bids for campaigns and their categories
     * If a campaign bid is updated, all (if any) category bids for this campaign will be updated with the new value if they are initially equal to the campaign bid.  If the category bid is not wanted to be cascaded to the categories with the same bid value, new change bids must be added in the request for the categories where the value should be kept (with the initial value).
     * @param authorization JWT Bearer Token (required)
     * @param bidChanges Specifies the list of bid changes to be applied. (required)
     * @return ApiResponse&lt;List&lt;CampaignMessage&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign bids updated OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid input. Please check returned message for details. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<CampaignMessage>> updateBidsWithHttpInfo(String authorization, List<CampaignBidChangeRequest> bidChanges) throws ApiException {
        okhttp3.Call localVarCall = updateBidsValidateBeforeCall(authorization, bidChanges, null);
        Type localVarReturnType = new TypeToken<List<CampaignMessage>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Update bids for campaigns and their categories (asynchronously)
     * If a campaign bid is updated, all (if any) category bids for this campaign will be updated with the new value if they are initially equal to the campaign bid.  If the category bid is not wanted to be cascaded to the categories with the same bid value, new change bids must be added in the request for the categories where the value should be kept (with the initial value).
     * @param authorization JWT Bearer Token (required)
     * @param bidChanges Specifies the list of bid changes to be applied. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Campaign bids updated OK. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid input. Please check returned message for details. </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Authentication failed. </td><td>  -  </td></tr>
        <tr><td> 429 </td><td> Throttling failure. Maximum sending rate exceeded. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Unknown error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateBidsAsync(String authorization, List<CampaignBidChangeRequest> bidChanges, final ApiCallback<List<CampaignMessage>> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateBidsValidateBeforeCall(authorization, bidChanges, _callback);
        Type localVarReturnType = new TypeToken<List<CampaignMessage>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
