/*
 * Marketing API v.1.0
 * IMPORTANT: This swagger links to Criteo production environment. Any test applied here will thus impact real campaigns.
 *
 * OpenAPI spec version: v.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.criteo.marketing.api;

import com.criteo.marketing.ApiCallback;
import com.criteo.marketing.ApiClient;
import com.criteo.marketing.ApiException;
import com.criteo.marketing.ApiResponse;
import com.criteo.marketing.Configuration;
import com.criteo.marketing.Pair;
import com.criteo.marketing.ProgressRequestBody;
import com.criteo.marketing.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.criteo.marketing.model.CategoryMessage;
import com.criteo.marketing.model.CategoryUpdatesPerCatalog;
import com.criteo.marketing.model.MessageWithDetailsCategoryUpdatesPerCatalogError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CategoriesApi {
    private ApiClient apiClient;

    public CategoriesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CategoriesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getCategories
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not liked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param categoryHashCodes Optional. One or more category hash codes. (optional)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getCategoriesCall(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, Boolean enabledOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/v1/categories";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (campaignIds != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("campaignIds", campaignIds));
        }

        if (advertiserIds != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("advertiserIds", advertiserIds));
        }

        if (categoryHashCodes != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("categoryHashCodes", categoryHashCodes));
        }

        if (enabledOnly != null) {
            localVarQueryParams.addAll(apiClient.parameterToPair("enabledOnly", enabledOnly));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.setHttpClient(apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            }).build());
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCategoriesValidateBeforeCall(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, Boolean enabledOnly, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling getCategories(Async)");
        }
        

        okhttp3.Call call = getCategoriesCall(authorization, campaignIds, advertiserIds, categoryHashCodes, enabledOnly, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Gets categories
     * Get the list of categories with the specified filters.  If a category is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not liked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param categoryHashCodes Optional. One or more category hash codes. (optional)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @return List&lt;CategoryMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CategoryMessage> getCategories(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, Boolean enabledOnly) throws ApiException {
        ApiResponse<List<CategoryMessage>> resp = getCategoriesWithHttpInfo(authorization, campaignIds, advertiserIds, categoryHashCodes, enabledOnly);
        return resp.getData();
    }

    /**
     * Gets categories
     * Get the list of categories with the specified filters.  If a category is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not liked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param categoryHashCodes Optional. One or more category hash codes. (optional)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @return ApiResponse&lt;List&lt;CategoryMessage&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CategoryMessage>> getCategoriesWithHttpInfo(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, Boolean enabledOnly) throws ApiException {
        okhttp3.Call call = getCategoriesValidateBeforeCall(authorization, campaignIds, advertiserIds, categoryHashCodes, enabledOnly, null, null);
        Type localVarReturnType = new TypeToken<List<CategoryMessage>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets categories (asynchronously)
     * Get the list of categories with the specified filters.  If a category is requested but is missing from current user&#39;s portfolio, it will not be included in the list.  If neither campaign ids nor advertisers ids are provided, then the user&#39;s portfolio will be used.
     * @param authorization JWT Bearer Token (required)
     * @param campaignIds Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not liked to advertisers in the user&#39;s portfolio, they will be skipped. (optional)
     * @param advertiserIds Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user&#39;s portfolio, they will be skipped. (optional)
     * @param categoryHashCodes Optional. One or more category hash codes. (optional)
     * @param enabledOnly Optional. Returns only categories you can bid on. Defaults to false. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getCategoriesAsync(String authorization, String campaignIds, String advertiserIds, String categoryHashCodes, Boolean enabledOnly, final ApiCallback<List<CategoryMessage>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = getCategoriesValidateBeforeCall(authorization, campaignIds, advertiserIds, categoryHashCodes, enabledOnly, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CategoryMessage>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCategories
     * @param authorization JWT Bearer Token (required)
     * @param categoriesPerCatalog The list of categories to be enabled/disabled, grouped by catalog. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call updateCategoriesCall(String authorization, List<CategoryUpdatesPerCatalog> categoriesPerCatalog, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = categoriesPerCatalog;

        // create path and map variables
        String localVarPath = "/v1/categories";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null) {
            localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));
        }

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "text/html"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.setHttpClient(apiClient.getHttpClient().newBuilder().addNetworkInterceptor(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                            .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                            .build();
                }
            }).build());
        }

        String[] localVarAuthNames = new String[] { "Authorization" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateCategoriesValidateBeforeCall(String authorization, List<CategoryUpdatesPerCatalog> categoriesPerCatalog, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling updateCategories(Async)");
        }
        
        // verify the required parameter 'categoriesPerCatalog' is set
        if (categoriesPerCatalog == null) {
            throw new ApiException("Missing the required parameter 'categoriesPerCatalog' when calling updateCategories(Async)");
        }
        

        okhttp3.Call call = updateCategoriesCall(authorization, categoriesPerCatalog, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Enables/disables categories
     * Update categories for multiple catalogs.&lt;br /&gt;  Please note that all validations need to pass before applying the requested changes;  the subsequent validation error messages will be returned in the response.&lt;br /&gt;  Please note that bidding will still happen for disabled categories, but using the Camapign&#39;s bid.  If the call is successful, full details about the changed categories will be returned.
     * @param authorization JWT Bearer Token (required)
     * @param categoriesPerCatalog The list of categories to be enabled/disabled, grouped by catalog. (required)
     * @return List&lt;CategoryUpdatesPerCatalog&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<CategoryUpdatesPerCatalog> updateCategories(String authorization, List<CategoryUpdatesPerCatalog> categoriesPerCatalog) throws ApiException {
        ApiResponse<List<CategoryUpdatesPerCatalog>> resp = updateCategoriesWithHttpInfo(authorization, categoriesPerCatalog);
        return resp.getData();
    }

    /**
     * Enables/disables categories
     * Update categories for multiple catalogs.&lt;br /&gt;  Please note that all validations need to pass before applying the requested changes;  the subsequent validation error messages will be returned in the response.&lt;br /&gt;  Please note that bidding will still happen for disabled categories, but using the Camapign&#39;s bid.  If the call is successful, full details about the changed categories will be returned.
     * @param authorization JWT Bearer Token (required)
     * @param categoriesPerCatalog The list of categories to be enabled/disabled, grouped by catalog. (required)
     * @return ApiResponse&lt;List&lt;CategoryUpdatesPerCatalog&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<CategoryUpdatesPerCatalog>> updateCategoriesWithHttpInfo(String authorization, List<CategoryUpdatesPerCatalog> categoriesPerCatalog) throws ApiException {
        okhttp3.Call call = updateCategoriesValidateBeforeCall(authorization, categoriesPerCatalog, null, null);
        Type localVarReturnType = new TypeToken<List<CategoryUpdatesPerCatalog>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Enables/disables categories (asynchronously)
     * Update categories for multiple catalogs.&lt;br /&gt;  Please note that all validations need to pass before applying the requested changes;  the subsequent validation error messages will be returned in the response.&lt;br /&gt;  Please note that bidding will still happen for disabled categories, but using the Camapign&#39;s bid.  If the call is successful, full details about the changed categories will be returned.
     * @param authorization JWT Bearer Token (required)
     * @param categoriesPerCatalog The list of categories to be enabled/disabled, grouped by catalog. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call updateCategoriesAsync(String authorization, List<CategoryUpdatesPerCatalog> categoriesPerCatalog, final ApiCallback<List<CategoryUpdatesPerCatalog>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = updateCategoriesValidateBeforeCall(authorization, categoriesPerCatalog, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<CategoryUpdatesPerCatalog>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
